<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADDS-TrafficSystem-Central</title>
    <style>
        * {
            box-sizing: border-box;
        }
        body {
            background-color: darkslategray;
        }
        #main {
            background-color: aliceblue;
            width: 90%;
            max-width: 800px;
            margin: 0 auto;
            margin-top: 30px;
            padding: 10px 20px;
            border-radius: 20px;
        }
        table {
            width: 100%;
        }
        table tr td {
            padding: 3px 5px;
        }
        table tr td:first-of-type {
            width: 0;
        }
        input {
            width: 100%;
        }
    </style>
</head>
<body>
    <div id="main">

        <h2>Ressources</h2>

        <h3>Github Repositories</h3>
        <ul>
            <li>
                <a href="https://github.com/Andreas-Menzel/AutonomousDroneDeliverySystem">
                    Main Github repository (AutonomousDroneDeliverySystem)
                </a>
            </li>
            <li>
                <a href="https://github.com/Andreas-Menzel/ADDS-TrafficSystem-Central">
                    This projects' repository (ADDS-TrafficSystem-Central)
                </a>
            </li>
        </ul>

        <h3>Other</h3>
        <ul>
            <li>
                <a href="/ui/show_infrastructure" target="_blank">
                    Show infrastructure (/ui/show_infrastructure)
                </a>
            </li>
        </ul>

        <h2>Send Commands</h2>

        <p>
            This site can be used to send commands to the api.
        </p>
        <p>
            <b>Bold arguments</b> are required, <i>italic arguments</i> are
            optional.
        </p>

        <h3>TELL</h3>

        <h4>/tell/here_i_am</h4>
        <form action="/tell/here_i_am" method="get" target="_blank">
            <table>
                <tr>
                    <td><b>drone_id:</b></td>
                    <td><input type="text" name="drone_id" value="dummy_drone"></td>
                </tr>
                <tr>
                    <td><i>gps_signal_level:</i></td>
                    <td><input type="number" name="gps_signal_level" step="1" min="0" max="5"></td>
                </tr>
                <tr>
                    <td><i>gps_satellites_connected:</i></td>
                    <td><input type="number" name="gps_satellites_connected" step="1" min="0" max="128"></td>
                </tr>
                <tr>
                    <td><b>gps_valid:</b></td>
                    <td style="display:none"><input type="checkbox" name="gps_valid" value="false" checked="checked"></td>
                    <td><input type="checkbox" name="gps_valid" value="true" checked="checked"></td>
                </tr>
                <tr>
                    <td><b>gps_lat:</b></td>
                    <td><input type="number" name="gps_lat" value="48.047341" step="0.0000001" min="-90" max="90"></td>
                </tr>
                <tr>
                    <td><b>gps_lon:</b></td>
                    <td><input type="number" name="gps_lon" value="11.654751" step="0.0000001" min="-180" max="180"></td>
                </tr>
                <tr>
                    <td><b>altitude:</b></td>
                    <td><input type="number" name="altitude" value="0" step="0.001" min="0" max="256"></td>
                </tr>
                <tr>
                    <td><i>pitch:</i></td>
                    <td><input type="number" name="pitch" step="0.01" min="-180" max="180"></td>
                </tr>
                <tr>
                    <td><i>yaw:</i></td>
                    <td><input type="number" name="yaw" step="0.01" min="-180" max="180"></td>
                </tr>
                <tr>
                    <td><i>roll:</i></td>
                    <td><input type="number" name="roll" step="0.01" min="-180" max="180"></td>
                </tr>

                <tr>
                    <td colspan="2"><input type="submit" value="Send request"></td>
                </tr>
            </table>
        </form>

        <hr>

        <h4>/tell/here_i_go</h4>
        <p style="color: orange">to be implemented</p>
        <form action="/ask/here_i_go" method="get" target="_blank">
            <table>
                <tr>
                    <td colspan="2"><input type="submit" value="Send request"></td>
                </tr>
            </table>
        </form>

        <hr>

        <h4>/tell/my_health</h4>
        <form action="/tell/my_health" method="get" target="_blank">
            <table>
                <tr>
                    <td><b>drone_id:</b></td>
                    <td><input type="text" name="drone_id" value="dummy_drone"></td>
                </tr>
                <tr>
                    <td><b>health:</b></td>
                    <td><input type="text" name="health" value="ok"></td>
                </tr>
                <tr>
                    <td><i>battery_remaining:</i></td>
                    <td><input type="number" name="battery_remaining" step="1" min="0" max="1000000"></td>
                </tr>
                <tr>
                    <td><b>battery_remaining_percent:</b></td>
                    <td><input type="number" name="battery_remaining_percent" value="75" step="1" min="0" max="100"></td>
                </tr>
                <tr>
                    <td><i>remaining_flight_time:</i></td>
                    <td><input type="number" name="remaining_flight_time" step="1" min="0" max="36000"></td>
                </tr>
                <tr>
                    <td><i>remaining_flight_radius:</i></td>
                    <td><input type="number" name="remaining_flight_radius" step="1" min="0" max="100000"></td>
                </tr>

                <tr>
                    <td colspan="2"><input type="submit" value="Send request"></td>
                </tr>
            </table>
        </form>

        <hr>

        <h4>/tell/register_drone</h4>
        <form action="/tell/register_drone" method="get" target="_blank">
            <table>
                <tr>
                    <td><b>drone_id:</b></td>
                    <td><input type="text" name="drone_id"></td>
                </tr>

                <tr>
                    <td colspan="2"><input type="submit" value="Send request"></td>
                </tr>
            </table>
        </form>

        <hr>

        <h4>/tell/deregister_drone</h4>
        <form action="/tell/deregister_drone" method="get" target="_blank">
            <table>
                <tr>
                    <td><b>drone_id:</b></td>
                    <td><input type="text" name="drone_id"></td>
                </tr>

                <tr>
                    <td colspan="2"><input type="submit" value="Send request"></td>
                </tr>
            </table>
        </form>

        <hr>

        <h4>/tell/activate_drone</h4>
        <form action="/tell/activate_drone" method="get" target="_blank">
            <table>
                <tr>
                    <td><b>drone_id:</b></td>
                    <td><input type="text" name="drone_id"></td>
                </tr>

                <tr>
                    <td colspan="2"><input type="submit" value="Send request"></td>
                </tr>
            </table>
        </form>

        <hr>

        <h4>/tell/deactivate_drone</h4>
        <form action="/tell/deactivate_drone" method="get" target="_blank">
            <table>
                <tr>
                    <td><b>drone_id:</b></td>
                    <td><input type="text" name="drone_id"></td>
                </tr>

                <tr>
                    <td colspan="2"><input type="submit" value="Send request"></td>
                </tr>
            </table>
        </form>

        <hr style="margin: 50px 0">

        <h3>ASK</h3>

        <h4>/ask/get_drone_info</h4>
        <form action="/ask/get_drone_info" method="get" target="_blank">
            <table>
                <tr>
                    <td><b>drone_id:</b></td>
                    <td><input type="text" name="drone_id"></td>
                </tr>

                <tr>
                    <td colspan="2"><input type="submit" value="Send request"></td>
                </tr>
            </table>
        </form>

        <hr>

        <h4>/ask/request_flight_plan</h4>
        <p style="color: orange">to be implemented</p>
        <form action="/ask/request_flight_plan" method="get" target="_blank">
            <table>
                <tr>
                    <td colspan="2"><input type="submit" value="Send request"></td>
                </tr>
            </table>
        </form>

        <hr>

        <h4>/ask/request_clearance</h4>
        <form action="/ask/request_clearance" method="get" target="_blank">
            <table>
                <tr>
                    <td><b>drone_id:</b></td>
                    <td><input type="text" name="drone_id"></td>
                </tr>
                <tr>
                    <td><b>intersection_a:</b></td>
                    <td><input type="text" name="intersection_a"></td>
                </tr>
                <tr>
                    <td><b>intersection_b:</b></td>
                    <td><input type="text" name="intersection_b"></td>
                </tr>

                <tr>
                    <td colspan="2"><input type="submit" value="Send request"></td>
                </tr>
            </table>
        </form>

        <hr style="margin: 50px 0">

        <h3>INFRASTRUCTURE</h3>

        <h4>/infrastructure/add_intersection</h4>
        <form action="/infrastructure/add_intersection" method="get" target="_blank">
            <table>
                <tr>
                    <td><b>intersection_id:</b></td>
                    <td><input type="text" name="intersection_id"></td>
                </tr>
                <tr>
                    <td><b>coordinates_lat:</b></td>
                    <td><input type="text" name="coordinates_lat"></td>
                </tr>
                <tr>
                    <td><b>coordinates_lon:</b></td>
                    <td><input type="text" name="coordinates_lon"></td>
                </tr>
                <tr>
                    <td><b>height:</b></td>
                    <td><input type="text" name="height"></td>
                </tr>

                <tr>
                    <td colspan="2"><input type="submit" value="Send request"></td>
                </tr>
            </table>
        </form>

        <hr>

        <h4>/infrastructure/remove_intersection</h4>
        <form action="/infrastructure/remove_intersection" method="get" target="_blank">
            <table>
                <tr>
                    <td><b>intersection_id:</b></td>
                    <td><input type="text" name="intersection_id"></td>
                </tr>

                <tr>
                    <td colspan="2"><input type="submit" value="Send request"></td>
                </tr>
            </table>
        </form>

        <hr>

        <h4>/infrastructure/get_intersection_info</h4>
        <form action="/infrastructure/get_intersection_info" method="get" target="_blank">
            <table>
                <tr>
                    <td><b>intersection_id:</b></td>
                    <td><input type="text" name="intersection_id"></td>
                </tr>

                <tr>
                    <td><input type="submit" value="Send request"></td>
                </tr>
            </table>
        </form>

        <hr>

        <h4>/infrastructure/add_corridor</h4>
        <form action="/infrastructure/add_corridor" method="get" target="_blank">
            <table>
                <tr>
                    <td><b>corridor_id:</b></td>
                    <td><input type="text" name="corridor_id"></td>
                </tr>
                <tr>
                    <td><b>intersection_a</b></td>
                    <td><input type="text" name="intersection_a"></td>
                </tr>
                <tr>
                    <td><b>intersection_b</b></td>
                    <td><input type="text" name="intersection_b"></td>
                </tr>

                <tr>
                    <td colspan="2"><input type="submit" value="Send request"></td>
                </tr>
            </table>
        </form>

        <hr>

        <h4>/infrastructure/remove_corridor</h4>
        <form action="/infrastructure/remove_corridor" method="get" target="_blank">
            <table>
                <tr>
                    <td><b>corridor_id:</b></td>
                    <td><input type="text" name="corridor_id"></td>
                </tr>

                <tr>
                    <td colspan="2"><input type="submit" value="Send request"></td>
                </tr>
            </table>
        </form>

        <hr>

        <h4>/infrastructure/get_corridor_info</h4>
        <form action="/infrastructure/get_corridor_info" method="get" target="_blank">
            <table>
                <tr>
                    <td><b>corridor_id:</b></td>
                    <td><input type="text" name="corridor_id"></td>
                </tr>

                <tr>
                    <td><input type="submit" value="Send request"></td>
                </tr>
            </table>
        </form>

    </div>
</body>
</html>